.main-nav {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav > .left {
  margin-left: 32px;
}

.main-nav > .left > a > .logo {
  width: 200px;
}

.main-nav > .right {
  margin-right: 32px;
}
